.searchInput{
    padding: 8px 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    width: 100%;
    margin: 10px 0px;
}
.search-bg{
  background-color: #f3f3f3;
}

.editBtn{
  background-color: #517da2 !important;
}


.sidebar{
    height: 100vh;
}



.menubar{
    color: rgb(184, 184, 184);
    cursor: pointer;
}

.sideChats{
    height: calc(100vh - 80px);
    overflow: auto;
}

  
  .chat-light:hover{
    background-color: rgb(229, 234, 255);
  }
  .chat-dark:hover{
    background-color: rgba(59, 59, 59, 0.315);
  }


  .active-light{

  }